:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    text-decoration: none !important;
    color-scheme: light;

    --blue2: #2a6de9;
    --white: #ffffff;

    min-width: 500px;
}
