:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light;

    --blue2: #2a6de9;

    --white: #ffffff;

    /* color: var(--white); */
    /* background-color: var(--darkergreyblue); */
}
